body {
    font-family: 'Poppins', sans-serif;
    margin: -50px;
}

section {
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    font-size: 30px;
    text-align: left;
    padding-top: 75px;
    padding-left: 0%;
}

.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    color: white;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 200px;
    /* padding-top: 75px; */
    /* color: white; */

}

.head {

    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white;  */
}

.cover p {
    position: absolute;
    /* text-align: justify; */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 77, 77), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 5px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gray-para {
    margin-bottom: 50px;
    color: gray;
}

.amount {
    display: flex;

}

.amount-item {

    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(247, 243, 243);

}

#one-tk {

    margin-left: 20%;
    margin-right: 1%;
}

#two-tk {

    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid tomato;
    background-color: rgb(240, 205, 211);
    color: red;
}

#five-tk {

    margin-left: 1%;
    margin-right: 1%;
}

#ten-tk {

    margin-left: 1%;
    margin-right: 1%;
}

#fifty-tk {

    margin-left: 1%;
    margin-right: 20%;
}

.link-button1 {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 77, 77), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 160%;
    transform: translate(-50%, -50%);
}

/* .w3-input {
    width: auto;
    size: 50px;
} */

.flexible-container {
    display: flex;
}

.donate-plan {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 40px gray; */

}

.donate-plan-text {
    text-align: left;
    text-align: justify;

}

#food {
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #edf5f6;
    /* top: 100px; */
    margin-left: 10%;
    margin-right: 8px;
}

#shelter {
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #ffeeee;
    margin-left: 3%;
    margin-right: 8px;
}

#education {
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #fff4d6;
    margin-left: 3%;
    margin-right: 10%;

}

footer {
    text-align: center;
    color: white;
    background-color: rgb(43, 41, 41);
}

.update {
    background-color: rgba(162, 202, 200, 0.752);
    padding: 75px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

.subscribe {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 77, 77), tomato);
    padding: 14px 44px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

#email {
    padding: 10px 40px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    color: #f44336;
}